/*
Theme: AlexanderWagnerDev
Author: AlexanderWagnerDev.at
Version: 1.0
License: 
Style: Dark
*/

*/

* {
    scrollbar-width: thin;
    scrollbar-color: #283244;
}

body {
    background-color: #283244;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 100px;
    padding-right: 100px;
}

.awdev-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.awdev-navbar a {
    color: green;
    text-decoration: none;
    margin-left: 16px;
    font-weight: 700px;
}

.awdev-navebar a:hover {
    color: darkkhaki;
    text-decoration: none;
}

.awdev-headline-link {
    color: azure;
    text-decoration: none;
}

.awdev-headline-link:hover {
    color: grey;
    text-decoration: none;
}

.awdev-dark-light-button {
    margin-right: 10px;
    margin-left: auto;
    background-color: #4c77af;
    color: black;
    font-size: medium;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

main {
    display: auto;
}

.awdev-title {
    color: azure;
    width: auto;
    text-align: center;
}

.awdev-aufbau {
    color: azure;
    width: auto;
    text-align: center;
}

.awdev-legal-content {
    text-align: center;
    padding: 6px;
    font-size: 14px;
}

.awdev-legal-text {
    margin-right: 16px;
    margin-left: 16px;
    color: royalblue;
    text-align: center;
}

.awdev-legal-text-link {
    margin-left: 0px;
    color: royalblue;
    text-decoration: none;
}

.awdev-legal-text-link:hover {
    color: goldenrod;
    text-decoration: none;
}

.awdev-author {
    padding: 6px;
    font-size: 12px;
    margin-right: 16px;
    margin-left: 16px;
}

.awdev-author-a {
    color: grey;
    text-decoration: none;
    margin-left: 0px;
    font-weight: 700px;
}

.awdev-author-a:hover {
    color: yellow;
    text-decoration: none;
}

.awdev-version {
    font-size: 12px;
    text-align: right;
    color: coral;
}

#awdev-footer-cookie * {
    box-sizing: border-box;
}

#awdev-footer-cookie {
    font-size: 16px;
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 97%;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 60px;
    background: #303030;
    color: #fff;
}
    
#awdev-footer-cookie a {
    color: #fff;
}

#awdev-footer-cookie #description {
    float: left;
}

#awdev-footer-cookie #accept {
    float: right;
}

#awdev-footer-cookie #accept a {
    border: 1px solid #fff;
    padding: 5px 10px;
    text-decoration: none;
}

@media (max-width: 1200px) {
    #awdev-footer-cookie {
        padding-top: 30px;
        padding-bottom: 30px;
        line-height: inherit;
        height: auto;
    }

    #awdev-footer-cookie #description {
        width: 100%;
    }

    #awdev-footer-cookie #accept {
        width: 100%;
        margin-top: 15px;
    }

    #awdev-footer-cookie #accept a {
        width: 100%;
        display: block;
        text-align: center;
    }
}